.highlight 
{
    background-color: darkturquoise;
}

.btnModal
{
    background-color: transparent;
    outline: none;
    border: none;
}

.cardAdmin:hover
{
    transform: scale(0.95);
}

.iconAdmin:hover
{
    transform: scale(1.05);
}