body{
    background-color: black;
}
.grid {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}
h3{
    color: white;
}

.pac-dot {
    background-image: url("./media/SemanSanta/cruzar.png");
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-image: url("./media/SemanSanta/paloma.png");
}

.blinky {
    background-image: url("./media/SemanSanta/casco-romano.png");
}

.pinky {
    background-image: url("./media/SemanSanta/casco-romano.png");
}

.inky {
    background-image: url("./media/SemanSanta/casco-romano.png");
}

.clyde {
   background-image: url("./media/SemanSanta/casco-romano.png");    
}

.pac-man {
    background-image: url("./media/SemanSanta/jesus.png");
}

.scared-ghost {
    background-image: url("./media/SemanSanta/vino.png");
}

